body{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
    background-attachment: url("image.avif");
    background-size: cover;

}
h2{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    text-align: center;
    
}
.clock{
    display: flex;
}
.clock main{
    margin:0.2rem;
    position:relative;
}
.clock span{
    width:6rem;
    height: 5rem;
    background: slateblue;
    opacity:0.8;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-shadow:0.1rem 0.1rem 0.4rem rgba(0,0,0,0.3);

}
.clock .text{
    height:1.8rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: aquamarine;
    opacity:0.8;
}
.clock #ampmm{
    bottom:0;
    position: absolute;
    width:3.2rem;
    height:1.8rem;
    background: green;

}