body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: cursive;
    background-color: steelblue;


}
.form{
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0.4rem 0.5rem rgba(0,0,0,0.3);
    border-radius: 0.5rem;
    margin:0.5rem;


}
.input{
    display: block;
    width:100%;
    box-sizing: border-box;
    font-size:1.5rem;
    text-align: center;
    padding: 0.5rem;
    border: solid 0.4rem blue ;
    color:black;
}
.input::placeholder{
    color:lightgray;
    font-family: cursive;

}
.btn{
    background-color:lightskyblue ;
    border:none;
    display: block;
    width:100%;
    padding:0.5rem;
    font-size: 1.1rem;
    font-family: cursive;
    margin:1rem 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    cursor:pointer;
}
.btn::hover{
    filter:brightness(0.9);
}
.score{
    color:rosybrown;
    text-align: right;
}