body{
    margin:0;
     
}
.top-container{
    background-image: url("websiteImage.jfif");
    height: 100vh;
    background-size:cover ;
    display:flex;
    justify-content: center;
    align-items: center;

}
.top-container h1{
    color:white;
    font-size: 3rem;
    font-family: sans-serif;
    letter-spacing: 2px;

}
.text{
    margin:2rem ;
    font-family: sans-serif;

}
.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width:100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgb(0,0,0,0.3);

}
.navbar ul{
    display: flex;
    list-style-type:none; 

}
.navbar ul li a:hover{
    color:red;

}
.navbar ul li a{
    text-decoration: none;
    margin:0 8px;
    color:black;
    font-family:cursive;
}
.navbar.active{
    background-color: black;
    
}