body{
    margin:0;
    display:flex;
    justify-content:center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
    font-family: cursive;
}
.container{
    background-color: aquamarine;
    width:20rem;
    padding:1rem;
    margin:4px;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}
.textarea{
    resize: none;
    width:100%;
    font-size: 1rem;
    font-family: sans-serif;
    padding:8px;
    box-sizing: border-box;
    border:solid 2px darkgrey;
}
.counter-container{
    display: flex;
    justify-content: space-between;
    padding:0 5px;

}
.counter-container p{
    font-size: 1rem;
    color:grey;
}
.total-counter{
    color: skyblue;

}
.remaining-counter{
    color:olivedrab;
}