body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    font-family: sans-serif;
}
.button{
    background-color:beige ;
    padding: 1rem 1.4rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;  /*to remove the decoration like underline of the text */
    color:black;
    position:relative;
    overflow: hidden;

}
.btn span{
    position: relative;
    z-index:1;
}
.button::before{
    content: "";
    position:absolute;
    background-color: lightblue;
    width:1rem;
    height:1rem;
    top:35%;
    left:40%;
    transform: translate(-30%,-10%);
    border-radius: 50%;
    transition:width 0.5s,height 0.5s;
    left:var(--xPos);
    top:var(--yPos);


    
}
.button::hover::before{
    width:20rem;
    height:20rem;

}




