body{
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    

} 
span{
    background: url("icon.webp");
    width: 6rem;
    height:6rem;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-20%, -50%);
    animation: animate 6s linear;
    pointer-events: none;

}
@keyframes animate{
    0%{
      transform: translate(-50%, -50%);
      opacity: 1;
      filter: hue-rotate(0);
    }
    100%{
      transform: translate(-50%, -5000%);
      opacity: 0;
      filter: hue-rotate(620deg);

    }
}