body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: black;

  }
.container{
    max-width: 33rem;
    padding: 0.5rem;
  }
.container img{
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }
  .container h1{
    color: lightgrey;
    font-weight: 400;
  }
  .container p{
    color: lightgrey;
    margin: 1rem 0;
  }
  .button{
    background-color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    border-radius: 4px;
  }
  .button:hover{
    background-color: burlywood;
  }
  .trailer-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:mediumvioletred;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.7s;
  }
  .active.trailer-container{
    visibility: hidden;
    opacity: 0;
  }
  .trailer-container video{
    position: relative;
    max-width: 900px;
    outline: none;
  }
  @media (max-width: 991px){
    .trailer-container video {
      max-width: 90%;
    }
  }
  