body {
  margin: 0;
  font-family: cursive;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-container {
  background-color:green;
  color: white;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: solid black 2px;
  border-radius: 0.5rem;
}

