body{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    transition: filter 0.7s;

  }
h1{
    font-size: 3rem;
    color: white;
    font-family: sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.button{
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background-color: darkgreen;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}
.button:hover{
    filter: brightness(0.8);
}
.active.container {
    filter: blur(4px) brightness(0.7);
}
.popupContainer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 400px;
    height: 200px;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url("");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;
}
  
h4{
    font-size: 30px;
    margin: 10px 0;
    font-family: sans-serif;
    color: greenyellow;
}
label{
    color: blueviolet;
    font-family: sans-serif;
 }
.popup-button{
    background-color: lightseagreen;
    padding: 0.54rem;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid;

}
.input{
    border: 2px solid;
    padding: 0.5rem;
    margin: 10px 0;
    font-size:1rem
    text-align: center;
}
.input::placeholder {
    color: lightgray;
}
.icon {
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
.icon:hover {
    color: goldenrod;
  }
.active.popupContainer {
    visibility: hidden;
    opacity: 0;
    top: 10%;
}